<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <script src="https://kit.fontawesome.com/b709f895a1.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>About</title>
</head>
<body>
    <h2 class="text-2xl text-green-400 mt-4 font-bold text-center font-normal">Who We Are</h2>
    
    <div class="flex justify-center p-6">
        <img src="https://www.shutterstock.com/image-photo/healthcare-black-man-doctor-clipboard-600nw-2284538255.jpg" 
        >
    </div>

    <div>
        <div class="flex justify-center text-center">
            <p class="text-xl font-medium mt-6 mx-80">Mission Statement:
                Our mission is to provide accessible and comprehensive healthcare solutions to individuals worldwide.
                We strive to enhance the well-being of our community by offering convenient and reliable health services.
                Our goal is to empower individuals to take control of their health through innovative online platforms.
                Company Vision:
                We envision a world where healthcare is easily accessible to everyone, regardless of location or socioeconomic status.
                Our vision is to revolutionize the healthcare industry through technology, making quality healthcare services available to all.
                We aim to become the leading online destination for individuals seeking personalized and reliable healthcare solutions.
                Core Values:
                Compassion: We are committed to providing compassionate care to all our patients.
                Excellence: We strive for excellence in every aspect of our service, from patient care to technological innovation.
                Integrity: We operate with honesty, transparency, and integrity in all our interactions.
                Accessibility: We believe that healthcare should be accessible to everyone, and we work tirelessly to remove barriers to access.
                Overview:
                Founded on the principles of compassion and innovation, EHealth is a leading online health service provider.
                At EHealth, we connect patients with qualified healthcare professionals, making it easier for individuals to find the care they need.
                With a user-friendly platform and a vast network of healthcare providers, EHealth is revolutionizing the way people access healthcare services.
                Key Features:
                Find Doctors: Easily search for and connect with doctors specializing in various fields.
                Book Appointments: Schedule appointments with healthcare providers at your convenience.
                Telemedicine: Access virtual consultations with healthcare professionals from the comfort of your home.
                Health Resources: Explore a wealth of health information and resources to support your well-being.
                Secure Platform: Rest assured that your personal health information is protected with state-of-the-art security measures.</p>

        </div>
    </div>
</body>
</html>