<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Uwineza Raisa</title>
</head>

<body>
<div class="w-full">

    <div class="flex justify-around p-4 bg-white w-full fixed top-0 z-10">
        <a href="" class="text-3xl font-bold text-green-500" onclick="location.href='index.html';">EHealth</a>
        <nav class="flex gap-8 mt-2">
            <a href="" class="nav-link  text-xl ml-20 font-bold" onclick="setActive(this)">Home</a>
            <a href="#About" class="nav-link text-xl font-bold" onclick="setActive(this)">About Us</a>
            <a href="#Find" class="nav-link text-xl text-green-500 font-bold" onclick="setActive(this)">Find A Doctor</a>
            <a href="#Contact" class="nav-link text-xl font-bold" onclick="setActive(this)">Contact Us</a>
        </nav>
        
    </div>
    <div>
        <header class="bg-blue-200 p-20 relative">
            <div class="flex">

                <div class="ml-80 gap-8 mt-60">
                    <a href="">Home/</a>
                    <a href="">Find A Doctor/</a>
                    <a href="">Uwineza Raisa</a>
                    <p class="text-3xl font-bold text-white ml-10">Uwineza Raissa</p>
                </div> 
                <div class="ml-auto">
                    <img src="../images/doctor.png" width="600" height="700">
                </div>
        </header>

    <main>
        <div class="flex gap-20 flex-row p-20">
            <div>
                <h1>Our Experts</h1>
                <div class="flex flex-col">
                    <a href="">Uwineza Raissa</a>
                    <a href="">Dermatologist</a>
                </div>
                <div class="flex flex-col">
                    <a href="">Kalisa Emma</a>
                    <a href="">Niertherapist</a>
                </div>
                <div class="flex flex-col">
                    <a href="">Anna Montez</a>
                    <a href=""></a>
                </div>
                <div class="flex flex-col">
                    <a href="">Uwineza Raissa</a>
                    <a href="">Dermatologist</a>
                </div>
                <div class="flex flex-col">
                    <a href="">Uwineza Raissa</a>
                    <a href="">Dermatologist</a>
                </div>
            </div>

            <div>
                <img src="https://img.freepik.com/free-photo/beautiful-young-female-doctor-looking-camera-office_1301-7807.jpg"
                alt="" class="w-[450px] h-[450px]">
            </div>

            <div class=" bg-blue-400 w-[450px] p-6">
                <div class="p-6">
                    <h2 class="text-3xl font-bold text-white">Uwineza Raissa</h2>
                    <p class="text-xl font-medium text-white">Dermatologist</p>
                </div>
                <hr class="border-t-2 border-green-700 ml-4 w-[350px]">
                <div class="p-6">
                    <p class="">(561) 223-1325</p>
                    <p>info@healthcare.com</p>
                </div>
                <hr class="border-t-2 border-green-700 ml-4 w-[350px]">
                <p class="p-6">
                    You're day midst of brought. Winged together which forth 
                    of itself in you air dominion good darkness seed upon be made upon i moved.
                </p>
            </div>
        </div>
    </main>
</div>

</body>

</html>